<script>
    if ("{{=('welcome' if auth.user is not None else None)}}" == 'welcome') {
        window.location.replace("{{=URL('default', 'welcome')}}");
    }
</script>
{{extend 'layout.html'}}
<div id="main_content">
    <body>
    <header class="text-center">
        <!-- <img src="https://chrissurratt.files.wordpress.com/2013/02/community-group.jpg" style="width: 304px; height: 228px;">
        	<div v-on:click="http://localhost:8000/ProjectGroup/default/index" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>  -->

        <div class="jumbotron"><h1 style="color: black;">Project Groups</h1></div>
        <h3> Making Great Projects </h3>
        <img src="https://chrissurratt.files.wordpress.com/2013/02/community-group.jpg"
             style="width: 304px; height: 228px;">

        <div style="text-align: center;">
            <a href="{{=URL('default','welcome')}}">
                <button class="button"
                        onclick="location.href = '{{=URL('default', 'user', 'login')}}';"
                        id="loginButton"> Login with your Google Account
                </button>
            </a>
            <!-- http://theprojectgroup.pythonanywhere.com/init/default/user/logins -->

            <a href="{{=URL('default','welcome')}}">
                <button class="button"
                        onclick="location.href = '{{=URL('default', 'user', 'login')}}';"
                        id="loginButton"> Sign Up
                </button>
            </a>

        </div>

        <!--  <a href="{{=URL('default', 'welcome')}}">
            <button v-on:click="http://localhost:8000/ProjectGroup/default/welcome"> Go next </button>
        </a> -->
    </header>
    </body>

    <body>
    <div class="text-center">
        <h2 style="color:blue;">
            How to use Project Groups?
        </h2>
    </div>
    <div align="center">
        <img src="https://yt3.ggpht.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAAAAAA/OixOH_h84Po/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
             style="width: 250px; height: 228px; float:left" alt="" align="right">

        <img src="http://choc.convio.net/2016chocwalkfiles/images/join_team_bear.png" alt="" align="right"
             style="float: right">

        <div align="center">
            <img src="http://plainicon.com/dl.php?pid=39789&tem=512px&con=download-icon" alt="" align="center"
            style="width: 300px; height: 228px;">
        </div>
    </div>
    <div style="float: left"><h4>Create/Login your Google Account</h4></div>
    <div style="float: right"><h4>Create/Join a Project</h4></div>
    <div style="margin: 0 auto; width: 200px;"><h4>Create/Select a Class</h4></div>

    <div style="margin: 0 auto; width: 500px;">
        <h4><p style="margin-top: 3.5em"><i>"Individual commitment to a group effort--that is what makes a team work, a
            company work, a society work, a civilization work." --Vince Lombardi
            <p><i></h4>
    </div>


    </body>
</div>
<script>

    $(document).ready(function () {
        if ("{{=('welcome' if auth.user is not None else None)}}" == 'welcome') {
            window.location.replace("{{=URL('default', 'welcome')}}");
        }
    });
</script>