{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var logged_in_url = "{{=URL('api', 'logged_in', user_signature=True)}}";
    var get_classes_url = "{{=URL('api', 'get_classes', user_signature=True)}}";
    var get_projects_url = "{{=URL('api', 'get_projects', user_signature=True)}}";
    var get_students_url = "{{=URL('api', 'get_students', user_signature=True)}}";
    var add_student_url = "{{=URL('api', 'add_student', user_signature=True)}}";
    var delete_student_url = "{{=URL('api', 'delete_student', user_signature=True)}}";
    var create_class_url = "{{=URL('api', 'create_class', user_signature=True)}}";
    var leave_class_url = "{{=URL('api', 'leave_class', user_signature=True)}}";
    var join_class_url = "{{=URL('api', 'join_class', user_signature=True)}}";
    var delete_class_url = "{{=URL('api', 'delete_class', user_signature=True)}}";
    var create_project_url = "{{=URL('api', 'create_project', user_signature=True)}}";
    var join_project_url = "{{=URL('api', 'join_project', user_signature=True)}}";
    var leave_project_url = "{{=URL('api', 'leave_project', user_signature=True)}}";
</script>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
{{end}}

<div id="main_content">

    <!-- <div v-if="logged_in"> -->
        <!-- <a href="{{=URL('default', 'welcome')}}" onclick="signOut();">Sign out</a> -->
        <button on:click="http://localhost:8000/ProjectGroup/default/index" onclick="signOut();">Sign out</button>

        <div v-for="(classe, class_idx) in classes">
            <div class="nested_el row" v-on:click="toggleClass(class_idx)" v-if="sel_class==-1||sel_class==class_idx">
                <div class="nopad">Class</div>
                <hr class="nopad">
                <div>${classe.name}</div>
                <div>${classe.description}</div>
                <div v-if="sel_class==class_idx">
                    <div v-for="(project, project_idx) in classe.projects">
                        <div class="nested_el" v-on:click.stop="toggleProject(project_idx)"
                             v-if="sel_project==-1||sel_project==project_idx">
                            <div class="nopad">Project</div>
                            <hr class="nopad">
                            <div>${project.name}</div>
                            <div>${project.description}</div>
                            <div class="nested_el" v-if="sel_project==project_idx" v-on:click.stop>
                                <span v-if="is_contact">To: </span>
                                <span v-for="(member, member_idx) in project.members">
                                    <span v-on:click="toggleMember(member_idx)"
                                          v-if="sel_member==-1||sel_member==member_idx">
                                        <span class="regular_el nopad">${member}</span>
                                    </span>
                                </span>
                                <button class="btn" v-if="sel_member!=-1" v-on:click="showAllMember">all members
                                </button>
                                <button class="btn" v-if="!is_contact" v-on:click="showContact">contact</button>
                                <div v-if="is_contact" v-on:click.stop>
                                    <hr class="nopad">
                                    <textarea class="nested_el" v-model="user_message"></textarea>
                                    <button class="btn" v-on:click="contactMember(sel_member)">submit</button>
                                    <button class="btn" v-on:click="hideContact">cancel</button>
                                </div>
                            </div>
                            <button class="btn" v-if="sel_project!=-1" v-on:click.stop="hideProject">hide project
                            </button>
                        </div>
                    </div>
                </div>
                <button class="btn" v-if="sel_class!=-1" v-on:click.stop="hideClass">hide projects</button>
            </div>
        </div>

</div>

<!-- {{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
    <li>{{=T('You are successfully running web2py')}}</li>
    <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
    <li>{{=XML(T('Which called the function %s located in the file %s',
(A(request.function+'()',_href='#'),
A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
_href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
    <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
_href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
    <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
 -->

{{block right_sidebar}}
<div id="user_profile" class="nested_el" v-if="is_show">
    <button class="btn" v-on:click="toggleViewing">hide profile</button>
    <button class="btn" title="Delete is Disdabled" v-on:click="toggleDelete" v-if="!is_delete">enable delete</button>
    <button class="btn" title="Delete is Enabled; Click on Traits to Delete" v-on:click="toggleDelete" v-if="is_delete">
        disable delete
    </button>
    <button class="btn" v-on:click="toggleAdd" v-if="!is_add">add trait</button>
    <button class="btn" v-on:click="toggleAdd" v-if="is_add">cancel</button>
    <input type="text" v-if="is_add" v-model="trait_field">

    <div class="nested_el">[insert profile pic]</div>
    <span class="regular_el" v-for="(trait, index) in traits">${trait}</span>
</div>
{{end}}

<script src="{{=URL('static','js/default_index.js')}}"></script>
<script src="{{=URL('static','js/API_calls.js')}}"></script>