.nested_el, .regular_el, .user_el {
    border: 1px solid gray;
    border-radius: 5px;
}

.nested_el, .regular_el {
    background: lightgray;
}

.nested_el {
    padding: 10px 5px 10px 5px;
}

.user_el {
    background: lightblue;
}

.nopad {
    padding: 0px;
    margin: 0px;
}

.g-signin2 {
	margin: 0 auto;
	width: 100px;
}