.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all 0.2s;
}

.slide-fade-enter, .slide-fade-leave-active {
    opacity: 0;
    transform: translateY(-5px);
}

.fade-enter-active, .fade-leave-active{
    transition: all 0.2s;
    transition-delay: 0.2s;
}

.fade-enter{
    opacity: 0;
}

.nested_el, .regular_el, .user_el {
    border: 1px solid gray;
    border-radius: 5px;
}

.nested_el, .regular_el {
    background: lightgray;
}

.nested_el {
    padding: 10px 5px 10px 5px;
}

.user_el {
    background: lightblue;
}

.nopad {
    padding: 0px;
    margin: 0px;
}

.g-signin2 {
    margin: 0 auto;
    width: 100px;
}

.header {
    background-image: url("https://chrissurratt.files.wordpress.com/2013/02/community-group.jpg");
}

.body {
    background-color: black;
}

/*The looks of the Login and Sign up Button*/
.button {
    background-color: #4CAF50; /* Green */
    border: 2px;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.jumbotron {
    height: 100px;
    width: 100px;
}